html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Roboto";
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* header */

.h2__header {
  color: #f1d3b9;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 27.2px;
  background-color: #b36050;
  height: 47px;
  margin: 0 auto;
  padding-top: 11px;
}
.nav__flex-header {
  display: flex;
  gap: 50px;
  background-color: #f6f4ec;
  height: 73px;
  margin-bottom: 30px;
}
.nav__flex {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  margin: 0;
  padding: 0;
  gap: 31px;
  padding-left: 20px;
  align-items: center;
}
.nav__flex li:nth-child(3) {
  padding-left: 5px;
}
.nav__flex li:nth-child(4) {
  padding-left: 3px;
}
li,
a {
  list-style: none;
  text-decoration: none;
  color: #b4604d;
}

.logo__header {
  width: 120px;
  height: 56px;
  margin-left: 243px;
  margin-top: 5px;
}
.basket__flex-header {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-left: 491px;
}
.p__basket-account {
  color: #b45f4d;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  margin: 0;
  cursor: pointer;
}
.p__basket-account:hover {
  text-decoration: underline;
}
.ico__basket {
  margin-left: 15px;
}
.p__basket-number {
  color: #b4604d;
  font-size: 15px;
  font-weight: 400;
}
.background__header {
}
.button__background {
  background-image: url(../img/header/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 433px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 58px;
}
.button__header {
  width: 128px;
  height: 48px;
  background: #b45f4d;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.button__header:hover {
  background-color: #d1624c;
}
.text-header {
  background-color: #a9ae8d;
  height: 304px;
  margin-bottom: 37px;
}
.h3__text-header {
  color: #f6f4ec;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  margin: 0;
  margin-bottom: 15px;
  margin-left: 70px;
  padding-top: 69px;
  text-transform: uppercase;
}
.h1__text-header {
  color: #f6f4ec;
  font-size: 33px;
  font-weight: 400;
  line-height: 64px;
  margin: 0;
  margin-bottom: 30px;
  margin-left: 70px;
}
.p__text-header {
  color: #f6f4ec;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  margin: 0;
  margin-left: 70px;
  cursor: pointer;
}
.p__text-header:hover {
  text-decoration: underline;
}
/* section1 */
.section1 {
  margin: 0;
  background-color: #f6f4ec;
  padding-bottom: 86px;
  margin-bottom: 25px;
}
.h3__section1 {
  margin: 0 auto;
  color: #b45f4d;
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  line-height: 39.2px;
  margin-bottom: 46px;
}
.section__flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
  padding-left: 28px;
  padding-right: 28px;
}
.item__section1 {
}
.img__section1 {
  margin-bottom: 6px;
}
.p__section1 {
  color: #b45f4d;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 7px;
}
.shampoo {
  font-size: 15px;
}

.p__section1-price {
  color: #b45f4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}
/* section2 */
.section2 {
}
.block {
  margin: 0 auto;
  max-width: 1219px;
  max-height: 414px;
  margin-bottom: 50px;
}
.img__section2 {
  max-height: 322px;
  width: 1219px;
  display: block;
  object-fit: cover;
}
.text__section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #df9b7a;
  height: 90px;
  padding-left: 29px;
  padding-right: 31px;
}
.h3__section2 {
  color: #f6f4ec;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  margin: 0;
}
.P__section2 {
  color: #f6f4ec;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  margin: 0;
  cursor: pointer;
}
.P__section2:hover {
  text-decoration: underline;
}
/* section3 */
.section3 {
  background-color: #f1d3b9;
  margin-bottom: 25px;
}
.flex__section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1069px;
}
.img__section3 {
  padding-left: 75px;
}
.text__section3 {
  width: 518px;
  height: 582px;
  background-color: #f8f8f8;
  position: relative;
  top: 41px;
  left: -50px;
}
.h3__section3 {
  color: #b45f4d;
  font-size: 30px;
  font-weight: 400;
  line-height: 57.6px;
  text-align: center;
  margin: 0 auto;
  margin-top: 51px;
  margin-bottom: 23px;
}
.p__section3 {
  color: #b45f4d;
  font-size: 19px;
  font-weight: 400;
  line-height: 30.4px;
  margin: 0 auto;
  padding-left: 51px;
  padding-right: 40px;
  margin-bottom: 41px;
}
.p__section-readMore {
  color: #b45f4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  margin: 0 auto;
  padding-left: 50px;
  cursor: pointer;
}
.p__section-readMore:hover {
  text-decoration: underline;
}
/* section4 */
.section4 {
  margin-bottom: 40px;
}
.h3__section4 {
  color: #000;
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  line-height: 39.2px;
  margin: 0 auto;
  margin-bottom: 49px;
}
.gallery__section4 {
  position: relative;
}
.top {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ico__section4 {
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50px;
}
.image-container:last-child {
  margin-right: 0;
}

/* footer */
footer {
  background-color: #f6f4ec;
  height: 401px;
}
.flex__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
}
.ul__footer {
  display: flex;
  gap: 118px;
  padding-left: 50px;
  padding-top: 50px;
}
.left-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.6px;
}
.right-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.6px;
}
.left-item li:hover {
  text-decoration: underline;
}
.right-item li:hover {
  text-decoration: underline;
}
.text__footer {
  padding-right: 165px;
  margin-top: 55px;
}
.h3__footer {
  color: #c17c6c;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 19px;
  margin: 0;
}
.p__footer {
  color: #c17c6c;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  margin: 0;
}
.p__footer.bottom {
  margin-top: 133px;
  margin-left: 51px;
}

@media screen and (max-width: 1410px) {
  .nav__flex-header {
    justify-content: space-between;
  }
  .nav__flex {
    padding-top: 0px;
    align-items: center;
  }
  .logo__header {
    margin-left: 0px;
  }
  .basket__flex-header {
    margin-left: 0;
    padding-right: 30px;
  }
  .top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1240px) {
  .block {
    width: 100%; /* Контейнер занимает всю доступную ширину */
  }
  .img__section2 {
    width: 100%; /* Изображение занимает всю ширину контейнера */
  }
  .section2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .img__section3 {
    padding-left: 0px;
  }
  .text__section3 {
    margin-top: 20px;
    position: inherit;
  }
  .flex__section3 {
    flex-direction: column;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 960px) {
  .basket__flex-header {
    padding-right: 0px;
  }
  .nav__flex-header {
    gap: 20px;
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
    padding-bottom: 20px;
  }
  .text__section2 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .section__flex {
    margin-left: 20px;
    margin-right: 20px;
  }
  .top {
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .text__footer {
    width: 201px;
    padding-right: 0px;
  }
  .flex__footer {
    justify-content: space-around;
  }
  .ul__footer {
    padding-left: 0px;
  }
  .p__footer.bottom {
    display: flex;
    justify-content: space-around;
  }
  .img__section3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 650px) {
  .top {
    grid-template-columns: repeat(2, 1fr);
  }
  .img__section3 {
    width: 100%;
    max-height: auto;
    padding: 0;
  }
}
@media screen and (max-width: 482px) {
  .item__section1 {
    width: 100%;
  }
  .top {
    grid-template-columns: repeat(1, 1fr);
  }
  .ul__footer {
    gap: 20px;
  }
  .img__section3,
  .img__section3 {
    width: 100%;
  }
}

@media screen and (max-width: 322px) {
  .nav__flex {
    flex-direction: column;
  }
  .item__section1 {
    width: 100%;
  }
  .img__section1 {
    width: 100%;
  }
  .h3__text-header,
  .h1__text-header,
  .p__text-header {
    margin: 0;
    text-align: center;
  }
  .item__section1 {
    text-align: center;
  }
  .img__section1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .text__section2 {
    height: auto;
  }
  .h3__section2 {
    padding-top: 10px;
  }
  .P__section2 {
    padding-top: 10px;
  }
}
